# Added by Payload
PAYLOAD_SECRET=PAYLOAD_SECRET

# initial start
ALLOW_COLD_START=true

# Development only
MONGODB_URI: mongodb://root:secret@localhost:27018
NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1